.login-background {
  background-color: #f0f0f0; // Cor de fundo cinza claro
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  width: 100%;
}

.col-md-6 {
  max-width: 500px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  margin-top: 5px;
}

button {
  margin-top: 10px;
  width: 100%;
}

.input-group .btn {
  border-radius: 0; // Remove o arredondamento para alinhamento correto
}

.input-group .form-control {
  border-radius: 0; // Remove o arredondamento para alinhamento correto
}
