/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Importação dos temas Angular Material
@import '@angular/material/theming';

// Importação do Bootstrap
@import 'bootstrap/scss/bootstrap';

// Inclua o tema padrão do Angular Material
@include mat-core();



// Defina suas paletas de cores personalizadas
$my-app-primary: mat-palette($mat-blue, 800); // Azul escuro
$my-app-accent: mat-palette($mat-blue, A200, A100, A400);

// Crie um tema com a paleta personalizada
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
// Inclua o tema do Angular Material
@include angular-material-theme($my-app-theme);

// Estilo personalizado para a toolbar Angular Material
.custom-toolbar {
  background-color: #003366;// Azul

  color: white;
}

